<!DOCTYPE html>
<html class="sans">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <link rel="stylesheet" href="/css/style.css" />
  <script type="text/javascript" src="/javascript/helper.js"></script>
  <script type="text/javascript" src="/javascript/bundle.js"></script>
  <head>
    <title>Title</title>
  </head>
  <body>
    <div>
      <h1 class="sans">
        UNDERTALE save file selector
      </h1>
      <div class="game-type">
        <select autocomplete="off" class="save-selector">
          <option selected>Please select...</option>
          <option value="Genocide Saves">Genocide Saves</option>
          <option value="Pacifist Saves">Pacifist Saves</option>
        </select>
        <select class="level-selector">
          <option selected>Please Select...</option>
        </select>
      </div>
    </div>
  </body>
</html>
